{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'todo/style.css' %}">
    <title>TODOv.01</title>
</head>
<body>
    <div class="container">
        {% if not user.is_authenticated %}
            <div class="login-section">
                <h1 class="login-required">Please log in to use this app! </h1>
                <ul class="login-menu">
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register' %}">Sign Up</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                </ul>                
            </div>
                   
        {% else %}

            <div class="login-section">               
                <ul class="login-menu">
                    <li><a href="{% url 'login' %}">Login to another account</a></li>                    
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                </ul>                
            </div>    
           

            <div class="todo">            
                <p>What do you want to do today, {{ user.username }}?</p>                    
                <form action="{% url 'add' %}" method="post" class='todo-form'>
                    {% csrf_token %}
                    {{ form.text }}                
                    <button type='submit' class='todo-submit'>Add</button>
                </form>
                <a href="{% url 'delcompleted' %}" class='del-btn'>Delete completed</a>
                <a href="{% url 'delall' %}" class='del-btn'>Delete all</a>  
                <ul class="todo-list">
                    {% for todo in todo_list %}
                        {% if todo.completed %}
                        <li class="todo-item todo-item--completed"><a>{{ todo.text }}</a></li>
                        {% else %}
                        <li class="todo-item"><a href="{% url 'complete' todo.pk %}">{{ todo.text }}</a></li>
                        {% endif %}                
                    {% endfor %}               
                </ul>
            </div>

        {% endif %}    
    </div>
   
</body>
</html>
