* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;     
    min-width: 540px;    
    background-color: #ccc; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

input, button {
    font-family: inherit;
}


.container {
    /* display: flex;        */
    background-color: rgb(127, 165, 135);
    /* width: 1640px; */
    padding: 20px;
    margin: 0 auto;
}

.login-section {
    display: flex;    
    background-color: #fff;
    font-weight: bold;
   
}

.login-menu {
    width: 300px;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;    
}

.login-menu a {
    display: block;
    padding: 10px 30px;
    text-decoration: none;
    color: inherit;
}

.todo {    
    width: 500px;
    background-color: rgb(156, 194, 125);
    /* grid-column: 2/3;    
    grid-row: 1/2; */
    justify-self: center;
    border-radius: 3px;
    padding: 20px;
}

.todo p {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.todo-form {    
    display: flex;
    margin-bottom: 10px;
}

.todo-input {
    padding: 10px; 
    font-size: 16px;
    background-color: rgba(238, 238, 238, 0.726);
    border: none;
    border-radius: 3px;    
    flex-grow: 1;   
    transition: background-color 0.3s ease;   
}

.todo-input:hover {
    background-color: #eee;
}

.todo-input:focus {    
    background-color: #eee;
}

.todo-input::placeholder {
    font-weight: bold;
}


.todo-submit {
    padding: 10px;
    font-size: 16px;
    border: none;   
    text-transform: uppercase;
    background-color: dimgrey;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.todo-submit:hover {
    background-color: grey;
}

.todo-submit:active, .todo-submit:focus {
    background-color: #444;    
}

.del-btn {
    background: rgb(106, 89, 199);
    border-radius: 3px;
    color: #fff;    ;
    font-weight: bold;    
    text-transform: uppercase;
    padding: 10px 20px;
    font-size: 12px;
    display: inline-block;
    text-decoration: none; 
    transition: background-color 0.2s ease; 
}

.del-btn:hover {
    background-color: mediumslateblue;
}

.del-btn:active {
    background: rgb(99, 77, 226);
}

.todo-list {
    margin-top: 10px;
    display: grid;
    row-gap: 5px;
}

.todo-item {
    background-color: #eee;    
    border-radius: 3px;    
    color: black;      
}

.todo-item a {
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 10px; 
    padding-left: 15px;   
}

.todo-item:hover {
    text-decoration: underline;
    cursor: pointer;
    background-color: #fff;
}

.todo-item--completed {
    background-color: #ccc;
    text-decoration: line-through;
    font-style: italic;
}

.todo-item--completed:hover {
    background-color: #ccc;
    text-decoration: line-through;
    cursor: auto;
}

.main-section-wrapper {
    display: grid;
    grid-template-columns: 400px 1fr 1fr;
    gap: 20px;
}

.weather-app {
    background-color: lightblue;
    width: 350px;
    min-height: 150px;
    /* grid-column: 3/4; */
    justify-self: center;
}

@media (max-width: 960px) {
    .main-section-wrapper {
        grid-template-columns: 1fr;
    }
}
